.navcontainer {
	background-color: white;
	opacity: 75%;
	margin-left: 40px;
	margin-right: 40px;
	text-align: center;
}


h1 {
	color: black;
	text-align: center;
	font-weight: 50px;
	font-size: 50px;
	margin: 20px;
}

h2 {
	text-align: center;
	font-size: 32px;
	text-transform: uppercase;
}
	
.nav a {
	text-align: center;
	display: inline-block;
}

html {
	background-image: url('backgroundforportfolio.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
  
}

a {
	margin: 20px;
	text-transform: uppercase;
}
	
a:link, a:visited {
  background-color: black;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: white;
  color: black;
}

.content {
	height: 600px;
	background-color: white;
	margin-left: 40px;
	margin-right: 40px;
	position: relative;
}

.content img {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
}
	
.textbox {
	margin: 50px;
	position: relative;
}

.textbox h3 {
	text-transform: uppercase;
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 50px;
}

